header{
	background-color: #252839;
	min-height: 140px;
	color: greenyellow;
	position: auto;
	font-size: xx-large;
	padding-top: 20px;
}
h3{
    color:aqua;
}
a{
	color: greenyellow;
	text-decoration: none;
	position: center;
	font-size: x-large;
}
h1{
    color:crimson;
    text-decoration: underline; 
    font: bold;
}
p{
	color:rebeccapurple;
    text-decoration: underline;
    font-size: small;
}
hr{
    color:fuchsia;
}


	
footer{
	background-color: black;
	min-height: 2000px;
}